<html>
<head>
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<body>

 <!--   function displayMovies(data) {
        data.results.forEach(function(movie) {
        	var imageSrc = config.images.base_url + config.images.poster_sizes[3] + movie.poster_path;
         	var htmlStr = [
                           '<div class="col-md-4 portfolio-item">',
                                '<a href="/view/'+movie.id+'">',
                                    '<img class="img-responsive" style="border-style:solid;border-width:5px;border-color:black;height:500px;width:350px"src="' + imageSrc + '" alt="">',
                                '</a>',
                                '<h3><center><font face="Maiandra GD">',
                                    '<a href="/view/'+movie.id+'" style="color:black">' + movie.title +'</a>',
                                '</font></center></h3>',
                            '</div>'
                            ];
            $('.movies-list').append($(htmlStr.join('')));
        });
   } -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <font face= "Maiandra GD"><a class="navbar-brand">coe-movie-db-1</a></font>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="javascript:void(0)" class='btn-now-showing'>Now Playing</a></li>
              <li class="divider-vertical"></li>
              <li><a href="javascript:void(0)" class='btn-upcoming'>Upcoming</a></li>
              <li class="divider-vertical"></li>
              <li><a href="javascript:void(0)" class='btn-popular'>Popular</a></li>
              <li class="divider-vertical"></li>
              <li><a href="javascript:void(0)" class='btn-top-rated'>Top Rated</a></li>
            </ul>
            
            <form class="navbar-form navbar-right" role="search" id='form-search'>
                <div class="form-group">
                  <input type="text" class= "form-control input-query" name='query' placeholder="Search..">
                </div>
                <button type="submit" class="btn btn-info" >Search</button>
              </form>
                </div><!--/.nav-collapse -->
              </div>
            </div>

    <div class="container" style='top: 70px; position: relative;'>
        <div class='row movies-list'>


        </div><!-- /.row -->
    </div><!-- /.container -->

    {% raw %}
  <script type="text/x-handlebars-template" id="tpl-displaymovies" >
                    <div class="col-md-4 portfolio-item" >
                                <a href="/movie/{{movie-id}}">
                            <img class="img-responsive movieinfo" src="{{img}}" alt="" style="width: 500px; height:500px; border-style:solid;border-width:5px;border-color:black;">
                                </a>
                                <h3>
                                <center>
                                    <a href="/movie/{{movie-id}}" style="color:black;text-style:bold;">{{title}}</a>
                                </center>
                                </h3>
                               </div>
  </script>
     
{% endraw %}



    <script src="/static/js/vendors/jquery.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/vendors/handlebars.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
